/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
  }
  
  /* Variables */
  /* General Styles */
  body {
    background-color: #f7f9fd;
    overflow-x: hidden;
  }

  .back{
    
    background-image:url(/images/fdf.svg);
    width:640px;
    height:427px;
    position: absolute;
    top:0; left:0; 
    background-color: #808d99;
  }
  
  .heading {
    color: #00252e;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  h2.heading {
    font-size: 30px;
  }
  
  h3.heading {
    font-size: 24px;
  }
  
  h4.heading {
    font-size: 20px;
  }
  
  .paragraph {
    font: 18px "Open Sans", sans-serif;
    color: #808d99;
    margin-bottom: 50px;
  }
  
  section {
    width: 100%;
    padding: 200px 200px 200px 200px ;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

 .section3  {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:100px; 
 }

 .section3 .section3content {
   padding: 80px 50px 80px 50px;
  background-color: white;
  background-size: cover;
  width: inherit;
  height: inherit;
  max-width: 800px;
  align-self: center;
  text-align: center;
  box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.1);
 }
  
  .get-started{
    width: 200px;
    height: 50px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    border-radius: 3px;
    border: 1px #ff52bf solid;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
    
  }

  /* Intro Styles */
  .intro {
   
    margin-top: 0px;
    justify-content: center;
    width: 100%;
  }
  .intro .section-content {
    margin-top: 80px;
    text-align: center;
  }
  .intro img {
    width: inherit;
  }

/* Header */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5vh 3%;
    position: absolute;
  }
  header .logo {
    left: 0;
    max-width: 100%;
    height: auto;
  }
  header button {
    right: 0;
    width: 150px;
    background-color: white;
    color: #9a52ff;
    border-radius: 3px;
    border: 1px #ff52bf solid;
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.1);
  }

  

  
  