$backg: #D0F9F1;
$green1: #0F6166;
$backg2: #2DB2A9;
$green2: #2CAEA5;
$h2: 3.56rem !default;
$h3: 2.92rem !default;
$h4-fontsize: 2.28rem !default;
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1.15rem !default;
@import url(https://fonts.googleapis.com/css?family=Rubik&display=swap);

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border:0;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}

.container{
    margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
.row{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.header{
    display: block;
    line-height: 2;
    text-align: center;
}
header{
   
    nav{
        width: 100%;
        height: 150px;
        align-items: center;
        position: fixed;
        padding: 0 7em;
        z-index: 1;
        transition: all 1s;
        .logo{
            img{
                width: 56px;
                height: 56px;
            }
        }
        ul{
            list-style: none;
            text-transform: uppercase;
            li{
                a{
                    // color: @GrayishBlue;
                    text-decoration: none;
                    font-weight: bold;
                }
                a:hover{
                    color: $backg;
                }
            }
        }

    }
    nav.scroll{
        height: 56px;
        padding: 0 2.5em;
        background-color: #FFF;
    }
    .front{
        height: 700px;
        max-width: 100%;
        background-color: $backg;
        background-size: cover;
        background-position: center;
    }
  
}

.about{
   
    width: 100%;
    background: $backg2 ;
    height: 700px;
    color: #D0F9F1;
    .prof{
        padding: 30px 0;
        text-align: center;
    }
    .tite{
        
       
        margin: 15px 0;
    }
    .cardCont{
        float: left;
        width: 33%;
        padding: 0 10px;
    }
    .cardRow{
        display: flex;
        margin: 0 -5px;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        :after{
            content: "";
            display: table;
            clear: both;
        }
    }
    .card{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;
        background-color: $green1;
        height: 237px;
    }
}

section#project{
    padding: 20px 0;
    background-color: $green2;
    .card-wrap{
        display: flex;
        flex-wrap: wrap;
     
        justify-content: center;
        .col{
            flex: 30%;
            max-width: 30%;
            .advGen{
                background: url(/portresp/images/advice.png) no-repeat center;
            }
            .book{
                background: url(/portresp/images/bookfm.png) no-repeat center;
            }
            .fm{
                background: url(/portresp/images/fm1.png) no-repeat center;
            }
           
            }
        
    }
    
    .hov-card{
        width: 100%;
        height: 300px;
        
        .card-content{
            color: $backg;
            display: none;
            text-align: center;
            background-color: $green1;
            z-index: 1;
            line-height: 2;
            height: 100%;
            padding: 1.5em;
            button{
                border-radius: 5px;
                background-color: $backg2;
                border: 2px solid $backg;
                margin-top: 4em;
            }
            button:hover{
                background-color: $backg;
                color: $backg2;
            }
            h3{
                font-weight: bold;
               
            }
            h4{
                color: rgb(10, 90, 155);
                font-size: 22px;
            }
    
            
        }
        
    }
    .hov-card:hover{
        .card-content{
            display: block;
            
        }
    }
}

@media only screen and (min-width: 800px){
    header{
        nav{
            display: flex;
            justify-content: flex-end;
            .resp-nav, .logo, ul li{
                align-self: center;
            }
            ul{
                margin-left: auto;
                li{
                    display: inline-block;
                    padding: 0 10px;
                }
            }
            .resp-nav{
                display: none;
            }
        }
    }
}

@media only screen and(max-width: 800px){
    .cardCont {
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }
      .card-wrap{
        .col{
            flex: 50%;
            max-width: 50%;
        }
    }
}