@import url(https://fonts.googleapis.com/css?family=Rubik&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.header {
  margin-top: 20px;
  display: block;
  line-height: 2;
  text-align: center;
  margin-bottom: 30px;
}

header nav {
  width: 100%;
  height: 150px;
  align-items: center;
  position: fixed;
  padding: 0 7em;
  z-index: 1;
  transition: all 1s;
}
header nav .logo img {
  width: 56px;
  height: 56px;
}
header nav ul {
  list-style: none;
  text-transform: uppercase;
}
header nav ul li a {
  color: #1a6661;
  text-decoration: none;
  font-weight: bold;
}
header nav ul li a:hover {
  color: #228f88;
}
header nav.scroll {
  height: 56px;
  padding: 0 2.5em;
  background-color: #1a6661;
}
header nav.scroll li a {
  color: #D0F9F1;
}
header .front {
  height: 700px;
  max-width: 100%;
  background-color: #D0F9F1;
  background-size: cover;
  background-position: center;
}

@media only screen and (min-width: 800px) {
  header nav {
    display: flex;
    justify-content: flex-end;
  }
  header nav .resp-nav, header nav .logo, header nav ul li {
    align-self: center;
  }
  header nav ul {
    margin-left: auto;
  }
  header nav ul li {
    display: inline-block;
    padding: 0 10px;
  }
  header nav .resp-nav {
    display: none;
  }
}
.about {
  width: 100%;
  background: #2DB2A9;
  height: 700px;
  color: #D0F9F1;
}
.about .prof {
  padding: 30px 0;
  text-align: center;
}
.about .tite {
  margin: 15px 0;
}
.about .cardCont {
  float: left;
  width: 33%;
  padding: 0 10px;
}
.about .cardRow {
  display: flex;
  margin: 0 -5px;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.about .cardRow :after {
  content: "";
  display: table;
  clear: both;
}
.about .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #0F6166;
  height: 237px;
}

@media only screen and (max-width: 800px) {
  .cardCont {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
section#project {
  color: white;
  padding: 50px 0;
  background-color: #25968e;
}
section#project .card-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section#project .card-wrap .col {
  flex: 30%;
  max-width: 30%;
}
section#project .card-wrap .col .advGen {
  background: url(/images/advice.png) no-repeat center;
}
section#project .card-wrap .col .book {
  background: url(/mages/bookfm.png) no-repeat center;
}
section#project .card-wrap .col .fm {
  background: url(/images/fm1.png) no-repeat center;
}
section#project .card-wrap .col .fylo {
  background: url(/images/fylo.png) no-repeat center;
}
section#project .card-wrap .col .hud {
  background: url(/images/hud.png) no-repeat center;
}
section#project .card-wrap .col .intro {
  background: url(/images/intro.png) no-repeat center;
}
section#project .hov-card {
  width: 100%;
  height: 300px;
}
section#project .hov-card .card-content {
  color: white;
  display: none;
  text-align: center;
  background-color: rgba(22, 87, 82, 0.9058823529);
  z-index: 1;
  line-height: 2;
  height: 100%;
  padding: 1.5em;
}
section#project .hov-card .card-content a {
  color: white;
  width: 115px;
  height: 25px;
  border-radius: 5px;
  background-color: #2DB2A9;
  border: 2px solid #D0F9F1;
  margin-top: 4em;
  text-decoration: none;
  padding: 8px;
}
section#project .hov-card .card-content a:hover {
  background-color: #D0F9F1;
  color: #2DB2A9;
}
section#project .hov-card .card-content h3 {
  font-weight: bold;
  height: 70px;
  width: auto;
}
section#project .hov-card .card-content h4 {
  color: rgb(255, 255, 255);
  font-size: 22px;
  height: 50px;
  width: auto;
}
section#project .hov-card .card-content p {
  height: 40px;
  width: auto;
  line-height: 1.5;
}
section#project .hov-card:hover .card-content {
  display: block;
}

@media only screen and (max-width: 800px) {
  .card-wrap .col {
    flex: 50%;
    max-width: 50%;
  }
}
section#contact {
  background-color: #208b84;
  width: auto;
  height: auto;
  padding: 2em;
  text-align: center;
  color: #fff;
}
section#contact form {
  display: block;
}
section#contact form input[type=text] {
  height: 50px;
  width: 400px;
  border: 1px solid rgba(22, 87, 82, 0.9058823529);
  padding: 2em;
  border-radius: 12px;
  margin: 0.5em auto;
}
section#contact form textArea {
  height: 150px;
  width: 400px;
  border: 1px solid rgba(22, 87, 82, 0.9058823529);
  padding: 2em;
  border-radius: 12px;
  margin: 0.5em auto;
  box-sizing: border-box;
  resize: none;
}
section#contact form button {
  margin: 0.5em auto;
}
section#contact form input[type=text]:focus {
  border: 2px solid rgba(22, 87, 82, 0.9058823529);
}
section#contact button {
  color: white;
  width: 60px;
  height: 35px;
  border-radius: 5px;
  background-color: #2DB2A9;
  border: 2px solid #D0F9F1;
  margin-top: 4em;
}
section#contact button:hover {
  background-color: #D0F9F1;
  color: #2DB2A9;
}

footer {
  background-color: #1a6661;
}
footer .content {
  text-align: center;
  display: block;
  height: 80px;
}
footer .content .social i {
  font-size: 32px;
  margin: 0.2em;
}
footer .content .social a {
  color: #fff;
}
footer .content .social a:hover {
  color: #25968e;
}
footer .copyright {
  display: block;
  text-align: center;
  background-color: #0c2b28;
  padding: 0.5em;
  color: aliceblue;
}
footer .button {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  position: relative;
  border: 0.1875em solid;
  color: #D0F9F1;
  background: #D0F9F1;
  transition: background 0.3s;
  border-radius: 15px;
}
footer .button:hover, footer .button:focus {
  color: #1a6661;
  background: #0c2b28;
}
footer .button svg {
  fill: #000;
}
footer .button svg:hover, footer .button svg:focus {
  fill: #fff;
}
footer .button:active {
  top: 0.08em;
}
footer .svg-icon {
  /* Place the icon on the text baseline. */
  position: relative;
  top: 0.125em;
  /* Prevent the icon from shrinking inside a flex container. */
  flex-shrink: 0;
  /* Scale the icon to match the font-size of the parent element. */
  height: 1em;
  width: 1em;
  /* Let the icon take whatever color the parent has. */
  fill: currentColor;
  /*
   * If the icon is used on a link, which has a color transition,
   * we can also use a transition on the fill value.
  */
  transition: fill 0.3s;
}

/*# sourceMappingURL=style.css.map */
