footer{
    background-color: $dark;
    .content{
        text-align: center;
        display: block;
        height: 80px;
        .social{
            i{
                font-size: 32px;
                margin:  .2em;
               
            }
            a{
                color: #fff;
            }
            a:hover{
                color: $backg3;
            }
        }
    }
    .copyright{
        display: block;
        text-align: center;
        background-color: $darkgreen;
        padding: .5em ;
        color: aliceblue;
    }
    button {
        height: 70px;
        width: 70px;
        margin: 5px;
        font-size: 1.25em;
        font-weight: bold;
        line-height: 1;
        text-transform: uppercase;
        position: relative;
        border: .1875em solid;
        // padding: 1em;
        color:$backg;
        background: $backg;
        
        transition: background .3s;
        border-radius: 15px;
        &:hover,
        &:focus {
            color: $dark;
            background:$darkgreen;
           
           
        }
        svg{
            fill: #000;
            &:hover,
            &:focus{
                fill: #fff;                
                
            }
        }
        &:active {
            top: .08em;
        }
    }
    
    .svg-icon {
        /* Place the icon on the text baseline. */
        position: relative;
        top: .125em;
    
        /* Prevent the icon from shrinking inside a flex container. */
        flex-shrink: 0;
    
        /* Scale the icon to match the font-size of the parent element. */
        height: 1em;
        width: 1em;
    
        /* Let the icon take whatever color the parent has. */
        fill: currentColor;
    
        /*
         * If the icon is used on a link, which has a color transition,
         * we can also use a transition on the fill value.
        */
       transition: fill .3s;
    }
    
   
}

