$backg: #D0F9F1;
$backg6: #a7ecde;
$green1: #0F6166;
$backg2: #2DB2A9;
$backg3: #25968e;
$backg4: #208b84;
$green2: #228f88;
$green3: #165752;
$green3: #165752e7;
$darkgreen: #0c2b28;
$dark: #1a6661;

@import url(https://fonts.googleapis.com/css?family=Rubik&display=swap);

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border:0;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}

.container{
    margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
.row{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
.header{
    margin-top: 20px;
    display: block;
    line-height: 2;
    text-align: center;
    margin-bottom: 30px;
}