$backg: #D0F9F1;
$green1: #0F6166;
$backg2: #2DB2A9;
$green2: #2CAEA5;
$h2: 3.56rem !default;
$h3: 2.92rem !default;
$h4-fontsize: 2.28rem !default;
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1.15rem !default;
@import url(https://fonts.googleapis.com/css?family=Rubik&display=swap);

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border:0;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}

.container{
    margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
.row{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
.header{
    display: block;
    line-height: 2;
    text-align: center;
}